<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style1.css') }}">
    <script src="https://kit.fontawesome.com/eae7d813df.js" crossorigin="anonymous"></script>
</head>
<body>
    <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
    <a href="https://chat.whatsapp.com/JElcHsU0x8sFIL8Fz5TS5U"><i class="fab fa-whatsapp fa-2x"></i></a>
    <a href="https://t.me/joinchat/6Jm4kP0mpZw4OGM9"><i class="fab fa-telegram fa-2x"></i></a>
    <a href="https://discord.gg/EcqBnBxK"><i class="fab fa-discord fa-2x"></i></a>
</body>
</html>

