<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
   <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style2.css') }}">
</head>
<body>
    <div class="container">
        <h1>Resources Related To Covid</h1>      
        <a href="https://drive.google.com/file/d/1_kPG0TNiquFFKH2602IBvfCCZwP2ixhG/view?usp=sharing" target="_blank">Remdesivir Distribution List</a>           
        <a href="https://drive.google.com/file/d/1CM0iAFtxvnX7kLtb-eN9rFYxTipupWRQ/view?usp=sharing" target="_blank">Tocilizumab Distributor List</a>
        <a href="https://drive.google.com/file/d/17x7_rKMu2zfJu1D9Nnuu_gDQ_z3v-CGQ/view?usp=sharing" target="_blank">COVID-19 Bed and Oxygen Cylinder Resources</a>
        <a href="http://nbtc.naco.gov.in/bloodBank/findblood" target="_blank">National Blood Transfusion Council</a>
        <a href="https://drive.google.com/file/d/1V8ghBFIekNKFtdgArn1WyLJbuaUwxBlM/view?usp=sharing" target="_blank">COVID-19 Test Centers</a>
        <a href="https://drive.google.com/file/d/1OiTp3SAMBsJpx2Zfmr8fSlwLEsUthiDK/view?usp=sharing" target="_blank">Meals across India</a>
    </div>
</body>
</html>